<header class="app-navbar">
  <div class="app-navbar-container">
    <!-- Logo -->

    <a href="{% url 'users:dashboard' %}" class="app-logo">
      <span class="app-logo-light"><img src="/static/images/logo-light.png" alt=" "></span>
      <span class="app-logo-dark">Lit</span>
      <span class="app-logo-purple">Muse</span>
    </a>
    <!-- Navigation -->

    <nav class="app-navbar-links">
      <a
        href="{% url 'users:dashboard' %}"
        class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
      >
        Dashboard
      </a>

      <a
        href="{% url 'users:library' %}"
        class="{% if request.resolver_match.url_name == 'library' %}active{% endif %}"
      >
        Library
      </a>

      <a
        href="{% url 'users:search_books' %}"
        class="{% if request.resolver_match.url_name == 'search_books' %}active{% endif %}"
      >
        Discover
      </a>
    </nav>

    <!-- User -->

    <div class="app-navbar-user">
      <a href="{% url 'users:logout' %}" class="app-logout">
        
        <div class="app-user-avatar">{{ user.username|first|upper }}</div>
      </a>

      <span class="app-username"> {{ user.username }} </span>

      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</header>
